.form-container {
  position: fixed;
  top: calc(53% + 40px); /* 50% of the viewport height plus 40px (half the navbar height) */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4BB543;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.simple-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.simple-form label {
  margin-bottom: 10px;
  font-size: 16px;
}

.simple-form input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* Account for padding and border */
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #5b08eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4a07b9;
}