button{
    margin: 25px 550px;
    padding: 10px;
    border: 2px solid rgb(104, 220, 62);
    border-radius: 10px;
    font-size: 30px;
    font-family:sans-serif;
    background-color: #08eb6e;
  }
   
  button{
    color: #eb2608;
  }


  